@model IEnumerable<HTTP5112Assignment5.Models.Class>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing information about all classes</p>

<div id="containerlist">
    <h2>List of Classes</h2>
    @foreach (var Class in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Class/Show/@Class.ClassId">@Class.ClassCode - @Class.ClassName</a></div>
        </div>
    }
</div>